#brand {
    width: 140px;
}

.user_netflix {
    width: 30px;
}



.movie_item {
    width: 100%;
    display: block;
}

.movie_item img {
    object-fit: cover;
    transition: transform 0.3s ease;
    width: 100%;
}

.movie_item:hover img {
    transform: scale(1.3);
}

footer {


    max-width: 80%;
    margin: auto;
}

footer li {
    list-style: none;
}

footer a {
    text-decoration: none;
    color: #666;
    font-size: small;

}

/* Stato iniziale delle righe (nascoste) */
.row.hidden {
    opacity: 0;
    /* Invisibili */
    transform: translateY(50px);
    /* Spostate verso il basso */
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
    /* Animazione fluida */
}

/* Stato visibile delle righe */
.row.show {
    opacity: 1;
    /* Visibili */
    transform: translateY(0);
    /* Posizione originale */
}